quartus/*
!quartus/pl_top.sdc
!quartus/pl_top_no_pll.sdc
!quartus/add_to_qsf.txt
modelsim/*
!modelsim/golden.txt
!modelsim/data.hex
!modelsim/program.hex
assembler/*
!assembler/assembler.py
!assembler/hello.asm
db/altsyncram_hcb1.tdf
db/projeto.(0).cnf.cdb
db/projeto.(0).cnf.hdb
db/projeto.(1).cnf.cdb
db/projeto.(1).cnf.hdb
db/projeto.(2).cnf.cdb
db/projeto.(2).cnf.hdb
db/projeto.(3).cnf.cdb
db/projeto.(3).cnf.hdb
db/projeto.(4).cnf.cdb
db/projeto.(4).cnf.hdb
db/projeto.(5).cnf.cdb
db/projeto.(5).cnf.hdb
db/projeto.(6).cnf.cdb
db/projeto.(6).cnf.hdb
db/projeto.(7).cnf.cdb
db/projeto.(7).cnf.hdb
db/projeto.(8).cnf.cdb
db/projeto.(8).cnf.hdb
db/projeto.(9).cnf.cdb
db/projeto.(9).cnf.hdb
db/projeto.(10).cnf.cdb
db/projeto.(10).cnf.hdb
db/projeto.(11).cnf.cdb
db/projeto.(11).cnf.hdb
db/projeto.(12).cnf.cdb
db/projeto.(12).cnf.hdb
db/projeto.(13).cnf.cdb
db/projeto.(13).cnf.hdb
db/projeto.cmp.rdb
db/projeto.db_info
db/projeto.hier_info
db/projeto.hif
db/projeto.lpc.html
db/projeto.lpc.rdb
db/projeto.lpc.txt
db/projeto.map_bb.hdb
db/projeto.map.qmsg
db/projeto.map.rdb
db/projeto.pre_map.hdb
db/projeto.rtlv_sg_swap.cdb
db/projeto.rtlv_sg.cdb
db/projeto.rtlv.hdb
db/projeto.sld_design_entry_dsc.sci
db/projeto.sld_design_entry.sci
db/projeto.smart_action.txt
db/projeto.smp_dump.txt
db/projeto.tis_db_list.ddb
dump/dump.txt
incremental_db/README
incremental_db/compiled_partitions/projeto.db_info
output_files/projeto.flow.rpt
output_files/projeto.map.rpt
output_files/projeto.map.smsg
output_files/projeto.map.summary
quartus/instruction.mif
incremental_db/compiled_partitions/projeto.root_partition.map.dpi.tmp
projeto.qpf
projeto.qws
